{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/professional-background.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="site-heading">
          <h1>Jobs Well Done</h1>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="container pt-5 my-4">
  <div class="row align-items-center">
      <div class="col d-flex align-items-start">
          <div>
              <h3 class="fs-2 text-primary">Building a Brand of Excellence</h3>
              <p>When it comes to the workplace, I take immense pride in holding myself to high standards and delivering excellence on a 
                consistent basis. Reputations take time to build, and as someone who recently graduated, I know that I'm just starting out.
                But I use this as fuel to learn, grow and deliver every single day. Taking initiative and getting stuff done is just part of my DNA.
                It's the only way I know how to operate. 
              </p>
          </div>
      </div>
  </div>
</div>

{% include "footer.html" %}
